<!DOCTYPE html>
<html lang="en">
 
    <%- include('./partials/head.ejs') %>
 
<body>
     
<%- include('./partials/nav.ejs') %>


    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, dicta. Ipsa magnam, magni officiis sit animi earum iusto natus voluptatibus dolore accusamus numquam ipsam, perferendis laudantium rerum voluptatem laborum sapiente!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, dicta. Ipsa magnam, magni officiis sit animi earum iusto natus voluptatibus dolore accusamus numquam ipsam, perferendis laudantium rerum voluptatem laborum sapiente!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, dicta. Ipsa magnam, magni officiis sit animi earum iusto natus voluptatibus dolore accusamus numquam ipsam, perferendis laudantium rerum voluptatem laborum sapiente!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
 
</body>
</html>